In [1]:
import pandas as pd

#### DataFrameを作成してdf1に代入

In [2]:
df1 = pd.DataFrame([[2020, 40],[2021, 32], [2022, 20], [2023, 18]])
display(df1)

      0   1
0  2020  40
1  2021  32
2  2022  20
3  2023  18

#### df1の列ラベルの変更

In [3]:
df1.columns = ["year", "num"]
display(df1)

   year  num
0  2020   40
1  2021   32
2  2022   20
3  2023   18

#### df2からndarrayだけを取り出す。

In [4]:
print(df1.to_numpy())

[[2020   40]
 [2021   32]
 [2022   20]
 [2023   18]]