In [1]:
import pandas as pd

#### DataFrameの生成

In [2]:
df = pd.DataFrame([[160, 53], [172, 74], [181, 90]], columns = ["a", "b"])
display(df)

     a   b
0  160  53
1  172  74
2  181  90

#### DataFrameの操作

In [3]:
df.columns = ["height", "weight"]
df.index = ["Sato", "Suzuki", "Yamada"]
display(df)

        height  weight
Sato       160      53
Suzuki     172      74
Yamada     181      90

In [4]:
print(df.to_numpy())

[[160  53]
 [172  74]
 [181  90]]