In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/quiz.csv", sep=",", header=1)
print(df.shape)
display(df.head())

(53, 7)

      氏名  氏名（ひらがな）  年齢         生年月日      性別 血液型                        メールアドレス
0  佐藤 梨恵    さとう りえ  47    1976年1月3日       女  AB           sato_rie@example.org
1  川野 英次  かわの ひでつぐ  53  1969年11月27日  その他・不明   B  hidetsugukawano@example.co.jp
2  平賀 知世    ひらが ちせ  34    1989年1月9日       女   O     chise_hiraga@example.ne.jp
3   小西 剛   こにし つよし  61   1962年1月22日       男   B     tsuyoshikonishi@example.jp
4  渡辺 雄二  わたなべ ゆうじ  34   1988年6月20日       男   O      yuujiwatanabe@example.org

In [5]:
display(df[df.duplicated(keep=False)])

        氏名  氏名（ひらがな）  年齢        生年月日 性別 血液型                 メールアドレス
7    矢島 知樹   やじま ともき  76  1946年5月27日  男   O    yajima527@example.jp
26  佐伯 ナオヤ   さえき なおや  21  2001年8月12日  男   O     saeki812@example.jp
29  佐伯 ナオヤ   さえき なおや  21  2001年8月12日  男   O     saeki812@example.jp
36    柳田 遥  やなぎだ はるか  21   2001年9月9日  女   A  yanagida_99@example.jp
46    柳田 遥  やなぎだ はるか  21   2001年9月9日  女   A  yanagida_99@example.jp
52   矢島 知樹   やじま ともき  76  1946年5月27日  男   O    yajima527@example.jp

In [6]:
df = df.drop_duplicates().reset_index(drop=True)
print(df.shape)
display(df.head())

(50, 7)

      氏名  氏名（ひらがな）  年齢         生年月日      性別 血液型                        メールアドレス
0  佐藤 梨恵    さとう りえ  47    1976年1月3日       女  AB           sato_rie@example.org
1  川野 英次  かわの ひでつぐ  53  1969年11月27日  その他・不明   B  hidetsugukawano@example.co.jp
2  平賀 知世    ひらが ちせ  34    1989年1月9日       女   O     chise_hiraga@example.ne.jp
3   小西 剛   こにし つよし  61   1962年1月22日       男   B     tsuyoshikonishi@example.jp
4  渡辺 雄二  わたなべ ゆうじ  34   1988年6月20日       男   O      yuujiwatanabe@example.org