In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("quiz03.csv", sep=",",skiprows=2, header=None)
df.columns = ["prefecture", "population"]
display(df.head())

  prefecture  population
0   Hokkaido     5183000
1     Aomori     1221000
2      Iwate     1196000
3     Miyagi     2290000
4      Akita      945000