In [1]:
import pandas as pd

#### ファイルの読み込み

In [2]:
df = pd.read_csv("data/kanto_populations.csv", sep=",", skiprows=5, header=0, )
display(df)

       pref       pop  birth   death
0   Ibaraki   2852000  17389   32931
1   Tochigi   1921000  11808   21702
2     Gunma   1927000  11660   23286
3   Saitama   7340000  47328   70758
4     Chiba   6275000  40168   62118
5     Tokyo  14010000  99661  121219
6  Kanagawa   9236000  60865   84601

#### 1:dfのデータ数と列数

In [3]:
print(df.shape)

(7, 4)

#### pop列のデータ型

In [4]:
print(df["pop"].info())

<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: pop
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 184.0 bytes
None

#### 都県のみ

In [5]:
display(df["pref"])

0     Ibaraki
1     Tochigi
2       Gunma
3     Saitama
4       Chiba
5       Tokyo
6    Kanagawa
Name: pref, dtype: object

#### 都県の列と人口

In [6]:
display(df[["pref", "pop"]])

       pref       pop
0   Ibaraki   2852000
1   Tochigi   1921000
2     Gunma   1927000
3   Saitama   7340000
4     Chiba   6275000
5     Tokyo  14010000
6  Kanagawa   9236000

#### 栃木群馬埼玉の人口のみ

In [7]:
display(df.loc[1:3, "pop"])

1    1921000
2    1927000
3    7340000
Name: pop, dtype: int64

#### 千葉の生まれ数

In [8]:
print(df.loc[4, "birth"])

40168

#### 東京の死者

In [9]:
print(df.loc[5, "death"])

121219