In [1]:
import pandas as pd
import numpy as np

#### データの読み込み

In [2]:
df = pd.read_csv("data/toyo_students.csv", sep=",", skiprows=1, header=0)
display(df)
print(df.shape)
print(df.info())
arr = df.to_numpy()

       Campus   Male  Female    Sum
0     Hakusan  11204    9199  20403
1     Kawagoe   3845     858   4703
2     Itakura    996     865   1861
3  Akabanedai   2183    1697   3880

(4, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Campus  4 non-null      object
 1   Male    4 non-null      int64
 2   Female  4 non-null      int64
 3   Sum     4 non-null      int64
dtypes: int64(3), object(1)
memory usage: 256.0+ bytes
None

#### 1:白山の男子

In [3]:
print(df.at[0, "Male"])
print(arr[0][1])

11204
11204

#### 2:赤羽の全学生数

In [4]:
print(df.at[3, "Sum"])
print(arr[3][3])

3880
3880

#### 3:川越の男子を3850に変更

In [5]:
df.at[1, "Male"] = 3850
arr[1][1] = 3850

#### 4:川越の全学生数を4708に変更

In [6]:
df.at[1, "Sum"] = 4708
arr[1][3] = 4708

#### 5:変更後のDataFrameとndarrayを表示

In [7]:
display(df)
print(arr)

       Campus   Male  Female    Sum
0     Hakusan  11204    9199  20403
1     Kawagoe   3850     858   4708
2     Itakura    996     865   1861
3  Akabanedai   2183    1697   3880

[['Hakusan' 11204 9199 20403]
 ['Kawagoe' 3850 858 4708]
 ['Itakura' 996 865 1861]
 ['Akabanedai' 2183 1697 3880]]