In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[20, 40, 60, 80],[15, 25, 35, 45]], columns=["A", "B", "C", "D"])
display(df)

    A   B   C   D
0  20  40  60  80
1  15  25  35  45

In [6]:
print(df.mean(axis=1))

0    50.0
1    30.0
dtype: float64